.inventoryManager {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding: 6px;
  font-size: 32px;
  font-family: serif;
}

.appIcon {
  width: 32px;
  height: 32px;
  margin-right: 7px;
}

.version {
  font-size: 16px;
}