.row {
  clear: both;
  height: 34px;
}
.color_bg {
  background-color: #e0ffe0;
}
.col {
  float: left;
  padding: 5px 7px 3px 7px;
  font-size: 16px;
  height: 26px;
}
.name {
  width: 400px;
}
.created_date{
  padding-top: 9px;  
  font-size: 12px;
}
.modified_date{
  padding-top: 9px;
  font-size: 12px;
}
.takeout{

}
.delete{

}
.deleteButton{
  background-color: #f0f0f0;
  padding: 2px 5px 2px 5px;
  margin-top: -2px;
  cursor: pointer;
  border-radius: 7px;
}