.itemList {
  margin-top: 24px;
}

.row {
  clear: both;
  height: 34px;
  border-bottom: 1px dashed #909090;
  margin-bottom: 0px;
}
.color_bg {
  background-color: #e0ffe0;
}
.col {
  float: left;
  padding: 5px 7px 3px 7px;
  font-size: 16px;
  height: 26px;
}
.name {
  width: 450px;
  margin: 0px;
  padding: 0px;
}
.created_date{
  text-align: center;
  padding-top: 8px;
  padding-bottom: 0px;
  font-size: 12px;
  width: 110px;  
}
.modified_date{
  text-align: center;  
  padding-top: 8px;
  padding-bottom: 0px;  
  font-size: 12px;
  width: 110px;  
}
.takeout{
  text-align: center;
  width: 30px;
}
.delete{
  width: 20px;
}
.deleteButton{
  background-color: #f0f0f0;
  padding: 2px 5px 2px 5px;
  margin-top: -2px;
  cursor: pointer;
  border-radius: 7px;
  width:14px;
}

.field {
  float: left;
  
  background-color: transparent;
  border: 0px;
  width: 440px;
  font-size: 16px;
  margin: 3px 0px 0px 0px;
  padding: 4px 3px 3px 7px;
}
